# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace

# node packages
node_modules
package-lock.json

# Local files
local/

# Temp dirs
temp/
tmp/

# logs
*.log

# Code coverage
/coverage

# Builds, dists
/dist